body {
  background-color: #280606;
  color: white;
  font-family: monospace;
  background-image: url("clouds.jpg");
  background-size: 100%, 100%;
}

.container {
}

.panel {
  font-size: 2vh;
  flex-basis: 40%;
  background: rgba(0, 0, 0, 0.5);
  /* background-color: #691010;*/
  width: 54%;
  word-wrap: break-word;
  border-color: red;
  border-style: double;
}

.socials {
  background: rgba(0, 0, 0, 0.5);
  /* background-color: #691010;*/
  word-wrap: break-word;
  border-color: green;
  border-style: double;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2vh; 
}

.logo {
  transition: transform .07s;
  width: 25px;
  height: 25px;
}

.logo:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  padding-left: 5px;
  padding-right: 5px;
}

a {
  color: lime;
}

a:hover {
  color: yellow;
}

a:active {
  color: blue;
}

a:visited {
  color: lime;
}
